accelerate==0.27.2
aep-palm-sdk-python==0.1.4
aiohttp==3.9.3
aiosignal==1.3.1
aiostream==0.5.2
alembic==1.13.1
altair==5.1.2
annotated-types==0.6.0
anthropic==0.49.0
anyio==4.3.0
aperturedb==0.4.40
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asr-python==0.4.1
astrapy==0.7.3
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
asyncio==3.4.3
atproto==0.0.43
attrs==23.2.0
audioread==3.0.1
Automat==22.10.0
av==14.0.1
azure-common==1.1.28
azure-core==1.30.1
azure-storage-blob==12.19.0
azure-storage-common==2.1.0
azure-storage-file==2.1.0
babel==2.16.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.1.1
beautifulsoup4==4.12.3
bentoml==1.2.1
bleach==6.2.0
blinker==1.7.0
bokeh==3.6.3
boto3==1.36.16
botocore==1.36.16
bs4==0.0.2
build==1.0.3
CacheControl==0.14.0
cachetools==5.3.3
cassandra-driver==3.29.0
cassio==0.1.4
cattrs==23.1.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
Chroma==0.2.0
chroma-hnswlib==0.7.3
chromadb==0.4.22
circus==0.18.0
cleo==2.1.0
click==8.1.7
click-option-group==0.5.6
cloudpickle==3.1.1
cmake==3.31.4
cohere==4.34
coloredlogs==15.0.1
comm==0.2.2
constantly==23.10.4
contextlib2==21.6.0
contourpy==1.2.0
crashtest==0.4.1
cryptography==42.0.5
cssselect==1.2.0
ctranslate2==4.5.0
cycler==0.12.1
dash==2.15.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2025.2.0
dataclasses-json==0.5.9
datasets==2.18.0
debugpy==1.8.7
decorator==5.1.1
deepgram-sdk==3.0.3
deepmerge==1.1.1
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
devtools==0.12.2
dill==0.3.8
dirtyjson==1.0.8
diskcache==5.6.3
distlib==0.3.8
distributed==2025.2.0
distro==1.9.0
Django==5.1.6
dnspython==2.5.0
docker-pycreds==0.4.0
docopt==0.6.2
docstring_parser==0.16
dulwich==0.21.7
eleven==0.1.1
elevenlabs==1.10.0
emoji==2.14.0
exceptiongroup==1.2.0
executing==2.0.1
expiringdict==1.2.2
faiss-cpu==1.7.4
fastapi==0.95.2
fastapi-filter==0.6.2
fastapi-pagination==0.12.17
FastAPI-SQLAlchemy==0.2.1
fastapi_poe==0.0.23
fastavro==1.8.2
faster-whisper==1.1.1
fastjsonschema==2.19.1
filelock==3.13.1
FlagEmbedding @ git+https://github.com/FlagOpen/FlagEmbedding.git@34a15d19b70003d0b3d7bb457ef276ab6a02c1bb
Flask==3.0.2
flatbuffers==23.5.26
flupy==1.2.0
fonttools==4.46.0
fqdn==1.5.1
frozenlist==1.4.1
fs==2.4.16
fsspec==2024.2.0
geomet==0.2.1.post1
gguf==0.5.1
gitdb==4.0.11
GitPython==3.1.40
google==3.0.0
google-ai-generativelanguage==0.6.10
google-api-core==2.14.0
google-api-python-client==2.108.0
google-auth==2.23.4
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud==0.34.0
google-cloud-aiplatform==1.71.1
google-cloud-bigquery==3.26.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.13.0
google-cloud-storage==2.14.0
google-crc32c==1.6.0
google-genai==0.8.0
google-generativeai==0.8.3
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
gotrue==2.1.0
gql==3.5.0
graphql-core==3.2.5
graphviz==0.20.2
greenlet==3.0.3
grpc-google-iam-v1==0.13.1
grpcio==1.69.0
grpcio-status==1.48.2
grpcio-tools==1.60.0
grpclib==0.4.3
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html2text==2020.1.16
httpcore==1.0.3
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.2
httpx-sse==0.3.1
huggingface-hub==0.21.3
humanfriendly==10.0
hyperframe==6.0.1
hyperlink==21.0.0
ibm-cos-sdk==2.13.3
ibm-cos-sdk-core==2.13.3
ibm-cos-sdk-s3transfer==2.13.3
ibm-watson-machine-learning==1.0.344
idna==3.6
image==1.5.33
imageio==2.37.0
importlib-metadata==6.8.0
importlib-resources==6.1.1
incremental==22.10.0
inflection==0.5.1
installer==0.7.0
InstructorEmbedding==1.0.1
ipykernel==6.29.5
ipython==8.12.3
ipywidgets==8.0.4
isodate==0.6.1
isoduration==20.11.0
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
jaraco.classes==3.3.1
jedi==0.19.1
Jinja2==3.1.3
jiter==0.6.1
jmespath==1.0.1
joblib==1.3.2
json5==0.9.25
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.11.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kaggle==1.6.17
keepalive-socket==0.0.1
keyring==24.3.1
kiwisolver==1.4.5
kubernetes==28.1.0
langchain==0.3.21
langchain-anthropic==0.3.10
langchain-core==0.3.49
langchain-text-splitters==0.3.7
langgraph==0.3.20
langgraph-checkpoint==2.0.23
langgraph-prebuilt==0.1.7
langgraph-sdk==0.1.59
langsmith==0.3.19
launchdarkly-server-sdk==8.3.0
lazy_loader==0.4
libipld==1.1.1
librosa==0.10.2.post1
llama-hub==0.0.77
llama-index==0.10.20
llama-index-agent-openai==0.1.5
llama-index-cli==0.1.9
llama-index-core==0.10.20.post2
llama-index-embeddings-huggingface==0.1.1
llama-index-embeddings-instructor==0.1.1
llama-index-embeddings-openai==0.1.6
llama-index-indices-managed-llama-cloud==0.1.4
llama-index-legacy==0.9.48
llama-index-llms-huggingface==0.1.1
llama-index-llms-llama-cpp==0.1.1
llama-index-llms-openai==0.1.12
llama-index-multi-modal-llms-openai==0.1.4
llama-index-postprocessor-flag-embedding-reranker==0.1.2
llama-index-program-openai==0.1.4
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.11
llama-index-readers-llama-parse==0.1.3
llama-index-vector-stores-chroma==0.1.1
llama-parse==0.3.9
llama_cpp_python==0.2.44
llamaindex-py-client==0.1.13
llvmlite==0.43.0
locket==1.0.0
lomond==0.3.3
lxml==5.1.0
lz4==4.4.3
Mako==1.3.2
markdown-it-py==3.0.0
markdownify==0.11.6
MarkupSafe==2.1.5
marshmallow==3.21.0
marshmallow-enum==1.5.1
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
mmh3==4.0.1
modal==0.55.4028
modal-client==0.55.4028
monotonic==1.6
more-itertools==10.2.0
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
newrelic==8.11.0
nexa==1.0
nexaai==0.0.9.4
nltk==3.8.1
notebook==7.2.2
notebook_shim==0.2.4
numba==0.60.0
numexpr==2.9.0
numpy==1.26.4
nvidia-ml-py==11.525.150
oauth2client==4.1.3
oauthlib==3.2.2
ollama==0.4.4
onnxruntime==1.17.0
openai==1.52.0
openapi-schema-pydantic==1.2.4
opencv-python==4.8.1.78
opencv-python-headless==4.11.0.86
opentelemetry-api==1.21.0
opentelemetry-exporter-otlp-proto-common==1.21.0
opentelemetry-exporter-otlp-proto-grpc==1.21.0
opentelemetry-instrumentation==0.42b0
opentelemetry-instrumentation-aiohttp-client==0.41b0
opentelemetry-instrumentation-asgi==0.42b0
opentelemetry-instrumentation-fastapi==0.42b0
opentelemetry-proto==1.21.0
opentelemetry-sdk==1.21.0
opentelemetry-semantic-conventions==0.42b0
opentelemetry-util-http==0.42b0
orjson==3.10.16
ormsgpack==1.9.0
overrides==7.4.0
packaging==23.2
pandas==2.2.1
pandocfilters==1.5.1
parsel==1.8.1
parso==0.8.3
partd==1.4.2
pathspec==0.12.1
pdf2text==1.0.0
pdfminer==20191125
pexpect==4.8.0
pgvector==0.1.8
pickleshare==0.7.5
pillow==10.2.0
pip-requirements-parser==32.0.1
pip-tools==7.3.0
pipreqs==0.5.0
pkginfo==1.9.6
platformdirs==4.2.0
plotly==5.19.0
poetry==1.8.1
poetry-core==1.9.0
poetry-plugin-export==1.6.0
pooch==1.8.2
portalocker==2.8.2
postgrest==0.15.0
posthog==3.1.0
prometheus-async==22.2.0
prometheus-client==0.17.1
prometheus-fastapi-instrumentator==6.1.0
prompt-toolkit==3.0.41
Protego==0.3.0
proto-plus==1.22.3
protobuf==4.25.6
psutil==5.9.8
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pulsar-client==3.3.0
pure-eval==0.2.2
pyaml==23.12.0
pyarrow==14.0.1
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.19.0
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.8.1b0
PyDispatcher==2.0.7
PyDrive==1.3.1
pydub==0.25.1
pygame==2.5.2
Pygments==2.16.1
pykos==0.2.3
pymongo==4.6.1
PyMuPDF==1.23.23
PyMuPDFb==1.23.22
pyodbc==4.0.34
pyOpenSSL==24.0.0
pyparsing==3.1.1
pypdf==4.0.2
PyPika==0.48.9
pyproject_hooks==1.0.0
pyRFC3339==1.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.7
python-slugify==8.0.4
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
qdrant-client==1.7.0
queuelib==1.6.2
rapidfuzz==3.6.1
realtime==1.0.2
referencing==0.31.0
regex==2023.12.25
requests==2.31.0
requests-file==2.0.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.6.0
rouge==1.0.1
rpds-py==0.13.1
rsa==4.9
s3transfer==0.11.2
safetensors==0.4.2
schedule==1.2.2
schema==0.7.5
scikit-image==0.25.1
scikit-learn==1.4.1.post1
scipy==1.12.0
Scrapy==2.11.1
-e git+ssh://git@github.com/facebookresearch/segment-anything.git@6fdee8f2727f4506cfbbe553e23b895e27956588#egg=segment_anything
semver==3.0.2
Send2Trash==1.8.3
sentence-transformers==2.2.2
sentencepiece==0.2.0
sentry-sdk==2.19.2
service-identity==24.1.0
setproctitle==1.3.4
shapely==2.0.6
shellingham==1.5.4
sigtools==4.0.1
simple-di==0.1.5
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.4.6
soundfile==0.13.0
soupsieve==2.5
soxr==0.5.0.post1
SQLAlchemy==2.0.27
sqlglot==19.9.0
sqlparse==0.5.3
sse-starlette==1.6.5
sseclient-py==1.8.0
stack-data==0.6.3
starlette==0.27.0
storage3==0.7.0
streamlit==1.41.1
streamlit-audiorec==0.1.3
streamlit-pills==0.3.0
StrEnum==0.4.15
striprtf==0.0.26
supafunc==0.3.3
sympy==1.12
synchronicity==0.5.3
tabulate==0.9.0
tblib==3.0.0
tenacity==9.0.0
terminado==0.18.1
text-unidecode==1.3
threadpoolctl==3.3.0
tifffile==2025.1.10
tiktoken==0.4.0
tinycss2==1.4.0
tldextract==5.1.1
together==0.2.10
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.4
toolz==0.12.0
torch==2.2.1
torchvision==0.17.1
tornado==6.3.3
tqdm==4.66.2
traitlets==5.13.0
transformers==4.30.2
trove-classifiers==2024.2.23
Twisted==23.10.0
typer==0.9.0
types-certifi==2021.10.8.3
types-python-dateutil==2.9.0.20241003
types-toml==0.10.8.7
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.2.1
uuid_utils==0.10.0
uvicorn==0.21.1
uvloop==0.19.0
validators==0.22.0
vecs==0.4.2
verboselogs==1.7
virtualenv==20.25.1
w3lib==2.1.2
wandb==0.19.2
watchfiles==0.21.0
wcwidth==0.2.10
weave==0.51.27
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.7.0
websockets==14.2
Werkzeug==3.0.1
widgetsnbextension==4.0.13
wikipedia==1.4.0
wrapt==1.16.0
xattr==1.1.0
xxhash==3.5.0
xyzservices==2025.1.0
yarg==0.1.9
yarl==1.9.4
zict==3.0.0
zipp==3.17.0
zope.interface==6.2
zstandard==0.23.0
